<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"> <!--fragment-->
</head>
<body>

<div th:replace="fragments :: page-header"></div> <!--fragment-->

<div class="container body-content"><!--bootstrap stuff-->

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <!-- #strings given my THL will capitalize via typical title rules -->
    <!--title not provided in init -->

    <form th:action="@{/search/results}"> <!--th:action -> where to send POST requests, not implemented yet-->
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}"> <!--iterate columns HashMap passed in-->
                <!--put in id, value to grab later -->
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label> <!-- grab2handler: searchTerm, searchType from above -->
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />


    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <!-- implement results here, seems they are used in the same html -->


    <div th:fragment="listings">
        <div th:if="${jobsCount}">
            <h3 th:text="${searchTypeChosen} + ' - found: ' + ${jobsCount}" ></h3>
        </div>
        <h3 th:if="${jobsCount == 0}">No jobs found</h3>
<!-- add sth when no jobs found -->
        <table th:each="job : ${jobs}" class="job-listing">
            <tbody>
                <tr th:each="jobDetail : ${job}">
                    <td th:text="${#strings.capitalizeWords(jobDetail.key)}"></td>
                    <td th:text="${jobDetail.value}"></td>
                </tr>
            </tbody>
        </table>
    </div>



    <!--create a loop to display each job passed in from the controller. -->
    <!--You should put each job in its own table, with one job field per row.-->

    <!--Add the CSS class "job-listing" to each of the tables to get some nice styling, -->





</div>

</body>
</html>
<!---->